version: '3'

services:
  sect-cpython:
    build:
      context: .
      args:
        - IMAGE_NAME=${CPYTHON_IMAGE_NAME}
        - IMAGE_VERSION=${CPYTHON_IMAGE_VERSION}
    image: lycantropos/sect-cpython:3.0.1
    volumes:
      - ./pytest.ini:/opt/sect/pytest.ini
      - ./README.md:/opt/sect/README.md
      - ./requirements-tests.txt:/opt/sect/requirements-tests.txt
      - ./requirements.txt:/opt/sect/requirements.txt
      - ./sect:/opt/sect/sect
      - ./setup.py:/opt/sect/setup.py
      - ./tests:/opt/sect/tests
    entrypoint: pytest
