version: '3'

services:
  sect-cpython:
    build:
      context: .
      args:
        - IMAGE_NAME=${CPYTHON_IMAGE_NAME}
        - IMAGE_VERSION=${CPYTHON_IMAGE_VERSION}
    image: lycantropos/sect-cpython:6.1.0
    volumes:
      - ./pyproject.toml:/opt/sect/pyproject.toml
      - ./README.md:/opt/sect/README.md
      - ./sect:/opt/sect/sect
      - ./setup.py:/opt/sect/setup.py
      - ./tests:/opt/sect/tests
    entrypoint: pytest
